
{% extends 'base.html.twig' %}



{% block title %}La carte | Majestic{% endblock %}
{% block stylesheets %}
        
          <link rel="stylesheet" href="{{ asset('Style/reset.css') }}">
          <link rel="stylesheet" href="{{ asset('Style/globalStyles.css') }}">
          {# <link rel="stylesheet" href="{{ asset('Style/about.css') }}"> #}
          <link rel="stylesheet" href="{{ asset('Style/components.css') }}">
          <link rel="stylesheet" href="{{ asset('Style/profile.css') }}">
          {# CDN AOS #}
          <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
          {# <link rel="stylesheet" href="{{ asset('Style/home.css') }}"> #}
            {{ parent() }}
          <style>
.gradient-custom {
background: #f6d365;
background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}
</style>

{% endblock %}
{% block body %}
{% include "partials/_nav.html.twig" %}
{% set currentDate = date("now") %}
{#<section data-aos="fade-down">
  <div>
    <h1 class="profile_h1">
      Profil
    </h1>
    <div class="profile_card">
              {% if user.imageUrl is not null %}
              <img class="profile_img" src="{{ asset('uploads/img/' ~ user.imageUrl) }}"
                alt="Avatar"/>
              {% else %}
              <img src="{{ asset('IMG/default.jpg') }}"
                alt="Avatar"/>
              {% endif %}
              <h2> {{ user.firstname }} {{ user.lastname }}</h2>
    
             {# <a href="{{ path('app_register_edit', {'id': user.id}) }}">Modifier</a> #}

  {#<div class="profile_info">
    <div class="profile_info_block">
      <h3>Informations</h3>
      <hr>
      <div>
        <p>{{ user.phone }}</p>
        <p>{{ user.email}}</p>
      </div>
    </div>

    <div class="profile_info_block">
      <h3>Livraison</h3>
      <hr>
      <div>
        <p>{{ user.country }}</p>
        <p>{{ user.city }}</p>
        <p>{{ user.zipcode }}</p>
        <p>{{ user.address }}</p>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<section>
  <div>
    <div>
      <h2>Mes réservations à venir</h2>
      <div>
        {% for reservation in reservations %}
          {% if reservation.date > currentDate %}
            <div>
              <div>
                <div>
                  <h5>Au nom de {{ reservation.reservationName }}</h5>
                  <p>Date: {{ reservation.date|date("d-m-Y") }}</p>
                  <p>Heure: {{ reservation.heure|date('H:i') }}</p>
                  <p>Restaurant: {{ reservation.restaurantName }}</p>
                  <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">Modifier</a>
                </div>
              </div>
            </div>
            {% endif %}
          {% endfor %}
      </div>
    </div>
    <div>
      <h2>Mes réservations passées</h2>
      <div class=>
{% set hasReservations = false %}
{% for reservation in reservations %}
  {% if reservation.date < currentDate %}
    {% set hasReservations = true %}
    <div>
      <div>
        <div>
          <h5>Au nom de {{ reservation.reservationName }}</h5>
          <p>Date: {{ reservation.date|date("d-m-Y") }}</p>
          <p>Heure: {{ reservation.heure|date('H:i') }}</p>
          <p>Restaurant: {{ reservation.restaurantName }}</p>
        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

{% if not hasReservations %}
  <p style="text-align:center; padding-top:100px;">Vous n'avez pas encore mangé chez nous, nous avons hâte de vous retrouver.</p>
{% endif %}
      </div>
    </div>
  </div>
</section> #}
<section class="profilepage">

<div class="wrapper">
    <div class="left">
           {% if user.imageUrl is not null %}
              <img class="profile_img" src="{{ asset('uploads/img/' ~ user.imageUrl) }}"
                alt="Avatar"/>
              {% else %}
              <img src="{{ asset('IMG/default.jpg') }}"
                alt="Avatar"/>
              {% endif %}
        <h2> {{ user.firstname }} {{ user.lastname }}</h2>
        <a <a href="{{ path('app_register_edit', {'id': user.id}) }}" class="btn primary-btn">Modifier</a>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h2>Email</h2>
                    <p>alex@gmail.com</p>
                 </div>
                 <div class="data">
                   <h2>Phone</h2>
                    <p>0001-213-998761</p>
              </div>
            </div>
        </div>
      
      <div class="projects">
            <h3>Livraison</h3>
            <div class="projects_data">
                 <div class="data">
                    <h2>Recent</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                 </div>
                 <div class="data">
                   <h2>Most Viewed</h2>
                    <p>dolor sit amet.</p>
              </div>
            </div>
        </div>
</div>
</section>
{% endblock %}
