{% extends 'base.html.twig' %}

{% block title %}Modification du profil | Majestic{% endblock %}
{% block stylesheets %}
  <style>
    .outline ul li{
      color:red;
      list-style:none;
      margin-left:-30px;
      margin-top:10px;
    }
  </style>
{% endblock %}
{% block body %}

   {% include "partials/_nav.html.twig" %}
<section id="form" data-aos="fade-down">
  <div class="container">
    <h3 class="form__title">
      Modifiez votre profil !
    </h3>
    <div class="form__wrapper">
      {{form_start(registrationForm)}}
        <div class="form__group">
          {{ form_label(registrationForm.firstname, null) }}
          {{ form_widget(registrationForm.firstname) }}
          {{ form_errors(registrationForm.firstname, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="form__group">
          {{ form_label(registrationForm.lastname, null) }}
          {{ form_widget(registrationForm.lastname) }}
          {{ form_errors(registrationForm.lastname, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="form__group">
          {{ form_label(registrationForm.gender, null) }}
          {{ form_widget(registrationForm.gender) }}
          {{ form_errors(registrationForm.gender, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="form__group">
          {{ form_label(registrationForm.email, null) }}
          {{ form_widget(registrationForm.email) }}
          {{ form_errors(registrationForm.email, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="form__group">
          {{ form_label(registrationForm.phone, null) }}
          {{ form_widget(registrationForm.phone) }}
          {{ form_errors(registrationForm.phone, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="form__group">
          {{ form_label(registrationForm.password.first, null) }}
          {{ form_widget(registrationForm.password.first) }}
          {{ form_errors(registrationForm.password.first, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="form__group">
          {{ form_label(registrationForm.password.second, null) }}
          {{ form_widget(registrationForm.password.second) }}
          {{ form_errors(registrationForm.password.second, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="form__group">
          {{ form_label(registrationForm.address, null) }}
          {{ form_widget(registrationForm.address) }}
          {{ form_errors(registrationForm.address, {'attr': {'class' : 'text-danger'}}) }}
      </div>
        <div class="form__group">
          {{ form_label(registrationForm.city, null) }}
          {{ form_widget(registrationForm.city) }}
          {{ form_errors(registrationForm.city, {'attr': {'class' : 'text-danger'}}) }}
        </div>
        <div class="form__group">
            {{ form_label(registrationForm.zipcode, null) }}
            {{ form_widget(registrationForm.zipcode) }}
            {{ form_errors(registrationForm.zipcode, {'attr': {'class' : 'text-danger'}}) }}
         </div>
        <div class="form__group">
            {{ form_label(registrationForm.country, null) }}
            {{ form_widget(registrationForm.country) }}
            {{ form_errors(registrationForm.country, {'attr': {'class' : 'text-danger'}}) }}
         </div>
         <div class="form__group">
            {{ form_label(registrationForm.imageUrl, null) }}
            {{ form_widget(registrationForm.imageUrl) }}
            {{ form_errors(registrationForm.imageUrl, {'attr': {'class' : 'text-danger'}}) }}
         </div>

            <div class="form__group">
            {{ form_end(registrationForm, {'label': 'Modifier', 'attr': {'class': 'btn primary-btn'}}) }}
            </div>
            </div>
            </div>
            </section>
{% include "partials/_footer.html.twig" %} 
{% endblock %}
