{% extends 'base.html.twig' %}
{% block stylesheets %}
<style>
{# .table-condensed {
  display: none;
}
#reservation_date_date{
    display:none;
}
#reservation_date_time{
    display:none;
} #}
</style>
{% endblock %}
{% block title %}Réservation  | Majestic{% endblock %}
{% block body %}
    {% include "partials/_nav.html.twig" %}

<section id="form" data-aos="fade-down">
  <div class="container">
    <h3 class="form__title">
      Formulaire de réservation
    </h3>
    <div class="form__wrapper">
      {{ form_start(form, {'attr': {'onsubmit':'launchModal()'}}) }}
      {{ form_errors(form) }}
        <div class="form__group">
          {{ form_label(form.date, 'Date') }}
          {{ form_widget(form.date, {'attr': {'class': 'form-control js-datepicker'}}) }}
          {{ form_errors(form.date) }}
        </div>
        <div class="form__group">
          {{ form_label(form.heure, 'Heure') }}
          {{ form_widget(form.heure) }}
          {{ form_errors(form.heure) }}
        </div>
        <div class="form__group">
          {{ form_label(form.reservation_name, 'Nom de la réservation') }}
          {{ form_widget(form.reservation_name, {'attr': {'placeholder': 'Nom de la réservation'}}) }}
          {{ form_errors(form.reservation_name) }}
        </div>
        <div class="form__group">
          {{ form_label(form.restaurant_name, 'Restaurant') }}
          {{ form_widget(form.restaurant_name, {'attr': {'placeholder': 'Restaurant à choisir', 'class': 'form-select'}}) }}
          {{ form_errors(form.restaurant_name) }}
        </div>
        <div class="form__group">
          {{ form_label(form.number, 'Nombre de personnes') }}
          {{ form_widget(form.number, {'attr': {'placeholder': 'Nombre de personnes'}}) }}
          {{ form_errors(form.number) }}
        </div>
        <div class="form__group">
          {{ form_label(form.email, 'E-mail') }}
          {{ form_widget(form.email, {'attr': {'placeholder': 'Email',}}) }}
          {{ form_errors(form.email) }}
        </div>
        <div class="form__group">
          {{ form_widget(form.submit, {'attr': {'class': 'btn primary-btn'}}) }}
        </div>
      {{ form_end(form) }}
    </div>
  </div>
</section>

    {% include "partials/_footer.html.twig" %}
{% endblock %}
{% block javascripts %}

<script>
   $(document).on('ready', function() {
         $('.js-datepicker').datepicker({
              format: 'yyyy-MM-dd HH:mm:ss',
              startDate: new Date(),
         });
     });
</script>
{% endblock %}
